
/* PC */
/* @media (min-width: 1024px) {
    
} */

/* Tablet and mobile */
@media (max-width: 1023px){
    .btn{
        padding: 15px 16px;
    }
    .contact-input .form-control{
        padding: 15px;
    }
    .social-list{
        font-size: 48px;
    }

    #footer .social-list a{
        margin:0 8px;
    }

    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}


/* Mobile */
@media (max-width: 739px) {
    .s-full-mobile,
    .s-col-full-mobile{
        width: 100% !important;
    }

    .s-mt-8-mobile{
        margin-top: 8px !important;
    }

    #header{
        overflow: hidden;
    }
    #header .menu-mobile-btn{
        /* Dùng để hiện cái menu lên */
        display: block;
    }

    #header .search-btn{
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li {
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        /* hiiện mặc định */
        position: initial;
        background-color: #333;

    }
    /* vì tay người to nên chiều cao dao động từ 42 đến 46px */
    #nav .subnav a{
        color: #fff;
        padding: 4px 41px;
    }

    .contact-input{
        margin-top: 16px;
    }
    
}